if posts.length>0
    for post in posts
        h3
            a(href='/post/'+post._id)=post.postTitle
        small=post.postDate.toLocaleDateString()
        p=post.postExcerpt
else
    h3 No post found.