extend ../layout

block content
    if post
        div
            a(href='/post/update/'+post.get('id')): button Update
            form.inline(action='/post/delete/'+post._id,method="POST",name="delete")
                input(type="hidden",name="_method",value="DELETE")
                input(type='submit',value='Delete',name='delete')
        include ../includes/post
    else
        h2 Post not found