body {
  /*padding: 50px;*/
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content{
    margin:auto;
    width:980px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
hr{
    border:1px ;
}
label{
    display:block;
}
input[type=text],textarea{
    width:100%;
    border:1px solid #555;
    border-collapse: collapse;
}
/* flash messages */
ul.flash,ul.menu,ul.error{
    list-style: none;
    padding-left: 0;
}
.flash-success{
    color: limegreen;
}
.flash-info{
    color: deepskyblue;
}
.flash-error,.error{
    color: red;
}
.main{
   margin-bottom: 200px;
}
.inline{
    display: inline;
}